@(Game: List[models.Game], categories: List[models.Category], user: models.users.User)
@main("Home PAge", user) {
  <h1>Gaming Reviews!</h1>

  <p class="lead">Reviews</p>
  <div class="row">
    <div class="col-sm-2">
      <h4>categories</h4>
      <ul class="list-group">
        <a href="@routes.HomeController.index(0)" class="list-group-item">All categories</a>

@for(c <- categories){
  <li class"list-group-item">@c.getName
    <span class="badge">???</span>
  </li>
}
        
      </ul>
    </div>
  </div>


  @if(flash.containsKey("success")) {
    <div class="alert alert-success">
    @flash.get("success")
    </div>
    }

<p>
  <a href="@routes.HomeController.addGame()">
    <button class="btn btn-primary">Add a game</button>
  </a>
</p>

<td>
  <<a href="#???" class="button-xs btn-danger">#
    <span class="glyphicon-pencil"></span>
  </a>
</td>

}
